<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
    <h1><%= @post.title %></h1>

    <hr>
  </header>

  <div id="content">
    <%= markdown @post.content %>
  </div>

  <hr>

  <div id="share_box">
    <p>Share The Do List</p>
    <br>
    <%= social_share_button_tag(@post.title) %>
<!--       <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-google-plus"></i></a> -->

  </div>

  <hr>
  
</div>

<%= link_to "Edit", edit_post_path(@post) %>

