<!DOCTYPE html>
<html>
  <head>
    <title>Kyle Duca - Web Developer</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Kyle Duca</a> 
      <nav>
        <%= link_to "Articles", posts_path %>
        <a href="#">Projects</a>
        <a href="#">Contact</a> 
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
